body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #ECF0F1;
  background: #222;
}
a {
  text-decoration: none;
  color: #eee;
}
.section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.list {
  flex: 1 300px;
  display: block;
  width: 300px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 45em) {
  .list {

      max-width: 300px;
  }
	.textbox {
		padding: 0px;
	}
}
.list h1 {
  position: relative;
  background: #1abc9c;
  color: #eee;
  margin: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
}
.reddit h1 {
  background: orangered;
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list ul li {
  background: #444;
  height: 40px;
  color: #eee;
  line-height: 40px;
  padding: 0 20px 0 0;
}
.list ul li:hover, .list ul li:nth-child(2n):hover {
  background: #56877e;
}
.list ul li a {
  margin-left: 15px;
}
.list ul li:nth-child(2n) {
  background: #333;
}
.list ul li:hover a {
  width: 40px;
  opacity: 1;
}

/* Google */
#containter {
  text-align: center;
  margin-bottom: 20px;
}

.google {
  color: orangered;
  font-weight: bold;
  font-size: 72px;
	margin: 10px;
}

.textbox {
    background-color: #fff;
    height: 38px;
	width: 300px;
    vertical-align: top;
    border: 1px solid #d9d9d9;
	padding: 0 10px;
	transition: width 1s;
}

.textbox:focus {
  width: 400px;
  outline: none;
}
