$color-li-main: rgba(#222432, .9);
$color-li-sec: rgba(#141925, .9);
$color-background: #282c3a;
$color-bg-hover: rgba(#282c3a, .9);
$color-text: #eee;
$color-textbox: #222432;
$color-textbox-border: #322929;

@import 'base';

.list h1 {
    opacity: .9;
}